.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 16px 16px 80px 16px;
  margin-top: 32px;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #d9d9d9;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 0 1 30%;
  min-width: 240px;
}

.socialLinks {
  display: flex;
  gap: 16px;
}

.socialIcon {
  fill: var(--color-text-primary);
  border: none;
  outline: none;
}

@media (max-width: 1440px) {
  .footer {
    gap: 24px;
  }
  .content {
    flex-basis: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .footer {
    gap: 16px;
  }
  .content {
    flex-basis: 100%;
  }
}